# Project exclude paths
/.gradle/
/Topics/Arrays as parameters/Sorting numbers/out/
/Topics/Arrays as parameters/Sorting numbers/out/production/classes/
/Topics/Arrays as parameters/Theory/build/
/Topics/Custom exceptions/Checked exception with constructor/out/
/Topics/Custom exceptions/Checked exception with constructor/out/production/classes/
/Topics/Declaring a method/Find the max of three numbers/out/
/Topics/Declaring a method/Find the max of three numbers/out/production/classes/
/Topics/Instance methods/Circle/out/
/Topics/Instance methods/Circle/out/production/classes/
/Topics/Multidimensional array/Cinema/out/
/Topics/Throwing exceptions/Days of the week/out/
/Topics/Throwing exceptions/Days of the week/out/production/classes/
/Topics/Throwing exceptions/The root of a number/out/
/Topics/Throwing exceptions/The root of a number/out/production/classes/
/Topics/Throwing exceptions/Throw a checked exception/out/
/Topics/Throwing exceptions/Throw a checked exception/out/production/classes/
/Topics/Throwing exceptions/Throw an unchecked exception/out/
/Topics/Throwing exceptions/Throw an unchecked exception/out/production/classes/